<div id="sidebar" class="column left"></div>

<div class="column right">
	
  <h1>Anmelden</h1>
  
  <% form_tag session_path do -%>
  <p><%= label_tag 'login', 'Benutzername' %><br />
  <%= text_field_tag 'login', @login %></p>
  
  <p><%= label_tag 'password', 'Kennwort' %><br/>
  <%= password_field_tag 'password', nil %></p>

  <p><%= label_tag 'remember_me', 'Angemeldet bleiben' %>
  <%= check_box_tag 'remember_me', '1', @remember_me %></p>

  
  <p><%= submit_tag 'Anmelden' %></p>
  <% end -%>


</div>

<div class="clr"></div>