<tr id="ruleset_<%= ruleset.id %>" class="<%= cycle('odd', 'even') %>">
  <td><%= link_to ruleset.name, edit_ruleset_path(ruleset) %></td>
  <td><%= ruleset.account.title unless ruleset.account.blank? %></td>
  <td>
	
	<% if ruleset.action == "set_category" %>
	  Kategorie auf &quot;<%= Category.find(ruleset.action_parameter).name %>&quot; setzen
	<% end %>
  </td>
  <td class="ac"><%= raw('&#10004;') if ruleset.active %></td>
  <td class="ar">
	<%= link_to image_tag('icons/edit.png'), edit_ruleset_path(ruleset.id) %>
	<%= link_to image_tag('icons/delete.png'), ruleset, :method => :delete, 
	                                                    :remote => true,
	                                                    :confirm => 'Bist Du sicher? Die Regel wird unwiderruflich gelöscht!' %>
  </td>
<tr>