<%= render :partial => 'layouts/sidebar', :locals => {:account => @account, :accounts => @accounts} %>

<div class="column right">
<h1>Regel bearbeiten</h1>

<%= form_for(@ruleset) do |f| %>
  <%= error_messages_for @ruleset %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %> <%= f.check_box :active %> <%= f.label :active, 'Regel ist aktiv' %>
  </p>
  <p>
    <%= f.label :account_id, 'Gilt für: ' %> 
    <%= f.collection_select(:account_id, Account.all(:order => 'title'), 
										:id, :title, {:include_blank => 'Alle Konten'}) %>
  </p>
  <p>
	<%= f.label :action, 'Aktion: ' %>
	<%= f.select :action, [['Kategorie zuweisen', 'set_category']]%>
	<span>
	    <%= f.collection_select(:action_parameter, 
	                            Category.where('category_id is NULL').order('name'), :id, :name) %>
	</span>
  </p>
  <p>
    <%= f.submit 'Speichern' %>
  </p>
<% end %>

  <% unless @ruleset.rules.empty? %><h3>Die Regel wird ausgeführt, wenn</h3><% end %>
  <div class="m20">
	<% @ruleset.rules.each do |rule| %>
	  <div id="rule_<%= rule.id %>">
	    <%= raw("<h3>oder</h3>") if @ruleset.rules.size > 1 and rule != @ruleset.rules.first %>
	    <%= render :partial => 'rules/edit', :locals => {:rule => rule} %>
	  </div>
	<% end %>
	<h3>Neue Bedingung hinzufügen:</h3>
	<%= render :partial => 'rules/new', :locals => {:ruleset => @ruleset} %>
  </div>
</div>



<div class="clr"> </div>
