<div class="column left">
  <h3><%= link_to 'Konten', '/accounts' %></h3>
  <% @accounts.each do |account| %>
    <%= link_to account.title, account, :style => "#{'font-weight:bold;' if account == @account}" %><br/>
  <% end %>

  <h3>Neue Zahlung</h3>
    <%= link_to 'Neue Zahlung', new_account_item_path(@account) if @account %>

  <h3>Kategorien</h3>
  <%= link_to 'Alle Kategorien', categories_path %><br/>
  <%= link_to 'Neue Kategorie', new_category_path(:account_id => @account.id) if @account %>
</div>

<div class="column right">
  <h1>Neue Zahlung</h1>
  
  <div class="note">
    <a href="#">  
      <h2>Vorsicht!</h2>  
      <p>Bitte dran denken: Bei Abbuchungen immer einen negativen Betrag eingeben! </p>  
    </a>
  </div>

<% form_for(@item) do |f| %>
  <%= f.error_messages %>

  <p>
	<%= f.label :account_id, 'Konto' %>:  
    <%= @account.title %>
    <%= f.hidden_field :account_id, :value => @account.id %>
  </p>
  <p>
    <%= f.label :amount, 'Betrag' %><br />
    <%= f.text_field :amount, :size => 60, :autofocus => true %>
  </p>
  <p>
    <%= f.label :payee, 'Empfänger' %><br />
    <%= f.text_field :payee, :size => 60 %>
  </p>
  <p>
    <%= f.label :description, 'Beschreibung' %><br />
    <%= f.text_field :description, :size => 60 %>
  </p>
  <p>
    <%= f.label :category_id, 'Kategorie' %><br />
    <%= f.collection_select(:category_id, Category.all(:order => 'name'), :id, :name, {:include_blank => true}, :class => "fancy") %>
  </p>
  <% if @accounts.size > 1 %>
  <p>
	<%= f.check_box :transfer %>
    <%= f.label :transfer, 'Zahlung ist Transfer zwischen eigenen Konten' %>
  </p>
  <% end %>
  <p>
    <%= f.submit 'Speichern' %> oder <%= link_to_function 'abbrechen', 'history.back(-1)' %>
  </p>
<% end %>
</div>

<div class="clr"></div>