<div class="rule">
  <%= form_for(rule, :remote => true) do |f| %>
    <%= error_messages_for rule %>
    <p>
  	  <%= f.select :affected_attribute, [['Empfänger', 'payee'],['Beschreibung','description']], :class => 'nice' %>
  	  <%= f.select :matchtype, [['ist', 'exact'],['enthält','contains']] %>
  	  <%= f.text_field :matching_string %>
  	  <%= f.submit 'Speichern' %>  
  	  <%= link_to image_tag('icons/delete.png', :style => "margin:0px 10px;", 
  	                                    :title => 'Regel löschen'), rule, :method => :delete, :remote => true %>
    </p>
  
  <% end %>
</div>
