<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Money</title>
  <%= stylesheet_link_tag 'main' %>
  <%= javascript_include_tag :defaults, :cache => true %>
  <%= javascript_include_tag ['rgraph/RGraph.common.core.js', 
	                          'rgraph/RGraph.common.context.js', 
							  'rgraph/RGraph.common.tooltips.js',
							  'rgraph/RGraph.common.tooltips.js',
							  'rgraph/RGraph.line.js'], :cache => true %>                  
</head>
<body>
  <div id="navigation">
    <ul>
	  <li><%= link_to 'Home', '/' %></li>
	  <li><%= link_to 'Alle Konten', '/accounts' %></li>
	  <% if @account and controller.action_name == 'show' %>
	    <li><%= link_to 'Statistik', "/accounts/#{@account.id}/overview" %></li>
	  <% end %>
	  <% if @account and controller.action_name == 'overview' %>
	    <li><%= link_to 'Tabelle', "/accounts/#{@account.id}" %></li>
	  <% end %>
	  <% if !params[:id] and controller.controller_name == 'accounts' %>
	    <li><%= link_to 'Statistik', "/accounts/overview" %></li>
	  <% end %>
	  <li><%= link_to 'Aktualisieren', "/items/get_from_rss" %></li>
	</ul>
  </div>

  <%= render 'layouts/flash' %>

  <%= yield %>

  <div id="footer">
	<%= link_to 'Hilfe', help_path %> |
	<%= link_to 'asino source on github', 'http://github.com/agehret/asino' %>
  </div>

</body>
</html>
