<%= render :partial => 'layouts/sidebar', :locals => {:account => @account, :accounts => @accounts} %>

<div class="column right" style="width:80%;">
  <h2>Verlauf</h2>

  <canvas id="courseGraph" width="800" height="350">[Ihr Internetbrowser unterstützt kein Canvas Objekt.]</canvas>

  <script>
      window.onload = function ()
      {
  
  
          var l = new RGraph.Line('courseGraph', [<%= @expenses.collect {|m| m[1] * -1}.join(',') %>], 
                                                 [<%= @income.collect {|m| m[1]}.join(',') %>],
                                                 [<%= @saldo.collect {|m| m[1]}.join(',') %>]);
          l.Set('chart.labels', ['<%= @expenses.collect {|d| l(d[0], :format => :monthname_abbrev)}.join("','") %>']);
          l.Set('chart.gutter', 50);
          l.Set('chart.outofbounds', true); 
          <%= "l.Set('chart.xaxispos', 'center');" unless @saldo.collect {|m| m[1]}.select {|v| v < 0}.empty? %>
          l.Set('chart.linewidth', 1.5)
          l.Set('chart.shadow', true);
          l.Set('chart.shadow.offsetx', 5);
          l.Set('chart.shadow.offsety', 5);
          l.Set('chart.shadow.blur', 5);
          l.Set('chart.shadow.color', 'rgba(0,0,0,0.1)');
          l.Set('chart.tickmarks', 'circle');
          l.Set('chart.axis.color', '#777')
          l.Set('chart.background', '#fafafa');
          l.Set('chart.background.grid.autofit', true)
          l.Set('chart.background.grid.color', '#eee')
          l.Set('chart.background.grid.autofit.numhlines', 10)
          l.Set('chart.background.grid.autofit.numvlines', <%= @expenses.size - 1 %>)
          l.Set('chart.xticks', <%= @expenses.size - 1 %>)
          l.Set('chart.text.size', 8)
          l.Set('chart.text.color', '#999')
          l.Set('chart.colors', ['#ff9900', '#74cb02', '#888']);
          l.Set('chart.key', ['Ausgaben', 'Einnahmen', 'Kontostand']);
          l.Set('chart.key.position','gutter'),
          l.Set('chart.key.background', 'white');
          l.Set('chart.key.shadow', true);
          l.Set('chart.key.shadow.offsetx', 0);
          l.Set('chart.key.shadow.offsety', 0);
          l.Set('chart.key.shadow.blur', 15);
          l.Set('chart.key.shadow.color', '#ccc');
          l.Set('chart.key.rounded', true);
          l.Set('chart.tooltips', ['<%= @expenses.collect {|m| m[1]}.join("','")  %>'],
                                  ['<%= @income.collect {|m| m[1]}.join("','")  %>'],
                                  ['<%= @saldo.collect {|m| m[1]}.join("','")  %>']);
  
          l.Draw();
      }
  </script>
  <br/>
  Durchschnitt Ausgaben: - <%= currency (@expenses.collect {|m| m[1] * -1}.sum(:amount) / @expenses.size) %><br/>
  Durchschnitt Einnahmen: + <%= currency (@income.collect {|m| m[1]}.sum(:amount) / @income.size) %>
</div>

<div class="clr"></div>