<%= render :partial => 'layouts/sidebar' %>

<div class="column right" style="width:80%;">
  <h2>Verlauf</h2>

  <canvas id="courseGraph" width="800" height="350">[Ihr Internetbroswer unterstützt kein Canvas Objekt.]</canvas>

<script>
    window.onload = function ()
    {


        var l = new RGraph.Line('courseGraph', [<%= @expenses.collect {|m| m[1] * -1}.join(',') %>], 
                                               [<%= @income.collect {|m| m[1]}.join(',') %>],
                                               [<%= @saldo.collect {|m| m[1]}.join(',') %>]);
        l.Set('chart.labels', ['<%= @expenses.collect {|d| d[0].strftime("%B")}.join("','") %>']);
        l.Set('chart.gutter', 50);
        l.Set('chart.tickmarks', 'circle');
        l.Set('chart.axis.color', '#777')
        l.Set('chart.background.grid.autofit', true)
        l.Set('chart.background.grid.color', '#eee')
        l.Set('chart.background.grid.autofit.numhlines', 10)
        l.Set('chart.background.grid.autofit.numvlines', <%= @expenses.size - 1 %>)
        l.Set('chart.xticks', <%= @expenses.size - 1 %>)
        l.Set('chart.text.size', 8)
        l.Set('chart.text.color', '#999')
        l.Set('chart.colors', ['#ff9900', '#74cb02', '#888']);

        l.Draw();
    }
</script>

<!-- tooltips start -->
<div style="display: none"> 
  <% @expenses.each do |expense| %>
    <div id="expense_<%= expense.first.strftime("%m") %>"><%= expense.second %></div>
  <% end %>
  <% @income.each do |income| %>
    <div id="income_<%= income.first.strftime("%m") %>"><%= income.second %></div>
  <% end %>
  <% @saldo.each do |saldo| %>
    <div id="saldo_<%= saldo.first.strftime("%m") %>"><%= saldo.second %></div>
  <% end %>
</div>
<!-- tooltips end -->
</div>

<div class="clr"></div>