<%= render :partial => 'layouts/sidebar' %>
<div class="column right">

<h1>Konto bearbeiten</h1>

<% form_for(@account) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title, 'Name des Kontos' %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :feed, 'Lokale Saldomat RSS-Feed URL' %><br />
    <%= f.text_field :feed %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>
<div class="action">
	<%= link_to 'Konto löschen', account_path(@account.id), :method => :delete, :confirm => 'Das Konto mit allen Umsätzen wir gelöscht. Sind Sie sicher?' %>
</div>
</div>

<div class="clr"> </div>