<%= render :partial => 'layouts/sidebar', :locals => {:account => @account, :accounts => @accounts} %>

<div class="column right">
<h1>Neues Konto anlegen</h1>

<%= raw note 'RSS Feed einrichten', 'asino greift Ihre Kontotransaktionen vom Saldomat RSS Feed ab. Werfen Sie bitte einen Blick in die Saldomat Einstellungen -> "RSS Server um" diesen zu aktivieren.' %>

<%= form_for(@account) do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">  
      <ul>
      <% @account.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :title, 'Name des Kontos' %> <br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :feed, 'Lokale Saldomat RSS-Feed URL' %><br />
    <%= f.text_field :feed %>
  </p>
  <p>
    <%= f.submit 'Speichern' %> oder <%= link_to_function 'abbrechen', 'history.back(-1)' %>
  </p>
<% end %>

</div>

<div class="clr"> </div>