<%= render :partial => 'layouts/sidebar' %>

<div class="column right">
<h1>Neues Konto anlegen</h1>

<% form_for(@account) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title, 'Name des Kontos' %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :feed, 'Lokale Saldomat RSS-Feed URL' %><br />
    <%= f.text_field :feed %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

</div>

<div class="clr"> </div>