<div class="column left" style="width:10%;">
  <h3><%= link_to 'Konten', '/accounts' %></h3>
  <% @accounts.each do |account| %>
    <%= link_to account.title, overview_account_path(account), :style => "#{'font-weight:bold;' if account == @account}" %><br/>
  <% end %>

  <h3>Neue Zahlung</h3>
    <%= link_to 'Neue Zahlung', new_account_item_path(@account) if @account %>

  <h3>Kategorien</h3>
  <%= link_to 'Alle Kategorien', categories_path %><br/>
  <%= link_to 'Neue Kategorie', new_category_path(:account_id => @account.id) if @account %>
</div>

<div class="column right" style="width:80%;">
  <h2>
	<%= link_to '&lt;', "#{request.path}?month=#{@month - 1}" %> 
	Übersicht <%= @account.title if @account %>: <%= @startdate.strftime("%B %Y") %>
	<%= link_to '&gt;', "#{request.path}?month=#{@month + 1}" %> 
  </h2>
  <%= note 'Kategorisch!', 'Diese Darstellung betrachtet ausschließlich Ausgaben, die Kategorien zugewiesen sind!' if @categories.empty? %>

  <canvas id="categoryGraph" width="800" height="450">[Ihr Internetbroswer unterstützt kein Canvas Objekt.]</canvas>
  <script>
      window.onload = function ()
      {
  
  
          var p = new RGraph.Pie('categoryGraph', [<%= @categories.collect {|m| m.sum * -1}.join(',') %>]);
          p.Set('chart.labels', ['<%= @categories.collect {|d| d.name}.join("','") %>']);
          p.Set('chart.gutter', 50)
          p.Set('chart.linewidth', 1);
          p.Set('chart.strokestyle', '#fff');
          p.Set('chart.labels.sticks', true);
          p.Set('chart.text.size', 8);
          p.Set('chart.text.color', '#888')
          p.Set('chart.align', 'left')
          p.Set('chart.colors', ['#ff9900','#ff9f0e','#ffa51d',
								'#ffab2b','#ffb13a','#ffb649',
								'#ffbc57','#ffc266','#ffc875',
								'#ffce83','#ffd492','#ffd9a0',
								'#ffdfaf','#ffe5be']);
          
          p.Draw();
      }
  </script>
  
  <div class="m20"> </div>
  <table>
    <tr>
	  <td class="ar em" colspan="2">
	    Einnahmen: + <%= number_to_currency @income.to_s, :unit => '', :separator => ",", :delimiter => "." %><br/>
	    Ausgaben: <%= @expenses %><br/>
	    <hr/>
	    Gesamt: <%= @income + @expenses %>
	    <hr/>
	  </td>
	  <td class="ar">Unterschied zum Vormonat</td>
	  <td class="ar"></td>
	</tr>
  <% @categories.each do |category| %>
    <% next unless category %>
    <tr class="<%= cycle('even', 'odd') %> overview_category">
	  <td style="width:300px;">
        <%= link_to_function category.name, "Element.toggle('category_#{category.id}')" %>
      </td>
      <td class="ar" style="width:80px;"><%= category.sum %></td>
      <td class="ar" style="width:80px;">
        <%= category.sum - category.lastmonth_sum if category.lastmonth_sum  %>
		  <%= image_tag 'icons/green_arrow_up.png' if category.lastmonth_sum and (category.sum - category.lastmonth_sum) > 0 %>
		  <%= image_tag 'icons/red_arrow_down.png' if category.lastmonth_sum and (category.sum - category.lastmonth_sum) < 0 %>
	    <%= image_tag 'icons/arrow_null.png' if category.lastmonth_sum and (category.sum - category.lastmonth_sum) == 0 %>
	  </td>
    </tr>
    <tr class="category_sub" id="category_<%= category.id %>" style="display:none;">
	  <td colspan="3">  
	    <table class="category_sub">
          <% category.items.for_date(Time.now).each do |item| %>
          <tr>
            <td style="width:320px;"><%= item.payee %></td>
            <td class="ar" style="width:80px;"><%= number_to_currency item.amount, :unit => '', :separator => ",", :delimiter => "." %></td>
            <td class="ar"></td>
            <td></td>
          </tr>
          <% end %>
        </table>
      </td>
	</tr>
  <% end %>
  </table>
</div>

<div class="clr"></div>