<%= render :partial => 'layouts/sidebar', :locals => {:account => @account, :accounts => @accounts} %>

<div class="column right" style="width:80%;">
  <h1>
  	<%= link_to image_tag('icons/left.png'), "#{request.path}?month=#{@month - 1}", 
  	                    :title => l((@startdate - 1.month), :format => :monthname) %>
	Ausgaben <%= @account.title if @account %>: <%= l @startdate, :format => :monthname_and_year %>
  	<%= link_to image_tag('icons/right.png'), "#{request.path}?month=#{@month + 1}", 
  	                    :title => l((@startdate + 1.month), :format => :monthname) %>
  </h1>

  <canvas id="expenseGraph" width="400" height="550">
      [Ihr Internetbroswer unterstützt kein Canvas Objekt.]
  </canvas>
  <script>
      function drawExpenses()
      {
          var p = new RGraph.Pie('expenseGraph', [<%= @expense_categories.collect {|m| m.sum * -1}.join(',') %>]);
          p.Set('chart.title', 'Ausgaben')
          p.Set('chart.labels', ['<%= @expense_categories.collect {|d| "#{d.percent}% #{d.name}" if d.percent > 1}.join("','") %>']);
          p.Set('chart.gutter', 120)
          p.Set('chart.linewidth', 1);
          p.Set('chart.stroke', '#fff');
          p.Set('chart.strokestyle', '#fff');
          p.Set('chart.labels.sticks', true);
          p.Set('chart.text.size', 7);
          p.Set('chart.text.color', '#888')
          p.Set('chart.align', 'left')
          p.Set('chart.colors', ['#ff9900','#ff9f0e','#ffa51d',
								'#ffab2b','#ffb13a','#ffb649',
								'#ffbc57','#ffc266','#ffc875',
								'#ffce83','#ffd492','#ffd9a0',
								'#ffdfaf','#ffe5be']);
          
          p.Draw();
      }
  </script>
  
  <canvas id="incomeGraph" width="400" height="550">
      [Ihr Internetbroswer unterstützt kein Canvas Objekt.]
  </canvas>
  
  <script>
      function drawIncome()
      {
  
  
          var i = new RGraph.Pie('incomeGraph', [<%= @income_categories.collect {|m| m.sum * -1}.join(',') %>]);
          i.Set('chart.title', 'Einnahmen')
          i.Set('chart.labels', ['<%= @income_categories.collect {|d| "#{d.percent}% #{d.name}" if d.percent > 0.5}.join("','") %>']);
          i.Set('chart.gutter', 120)
          i.Set('chart.linewidth', 1);
          i.Set('chart.stroke', '#fff');
          i.Set('chart.strokestyle', '#fff');
          i.Set('chart.labels.sticks', true);
          i.Set('chart.text.size', 7);
          i.Set('chart.text.color', '#888')
          i.Set('chart.align', 'left')
          i.Set('chart.colors', ['#3a6601','#498001','#579902','#66b302','#74cb02','#83e502']);
          
          i.Draw();
      }
      
      window.onload = drawExpenses(), drawIncome()
  </script>
  
  <div class="m20"></div>
  
  <table style="float:left;width:400px;display:block;">
    <tr>
	  <td class="ar em" colspan="3">
	    Ausgaben: <%= currency @expenses.to_s %><br/>
	    <hr/>
	  </td>
	  <td class="ar medium">Unterschied zum Vormonat</td>
	  <td class="ar"></td>
	</tr>
    <%= render :partial => 'categories/categorized_items', :locals => {:categories => @expense_categories, :container => 'expenses'} %>
  </table>

  <table style="float:left;width:400px;display:block;">
    <tr>
	  <td class="ar em" colspan="3">
	    Einnahmen: + <%= currency @income %><br/>
	    <hr/>
	  </td>
	  <td class="ar medium">Unterschied zum Vormonat</td>
	  <td class="ar"></td>
	</tr>
    <%= render :partial => 'categories/categorized_items', :locals => {:categories => @income_categories, :container => 'income'} %>
    <tr>
	  <td class="ar em" colspan="3">
	    <hr class="nomargin" /><hr class="nomargin" />
	    Gesamt: + <%= currency @income + @expenses %><br/>
	  </td>
	  <td></td>
	</tr>  
  </table>
 
  <div class="clr"></div>
  
  <div class="m20"></div>
  
</div>

<div class="clr"></div>

