<%= render :partial => 'layouts/sidebar' %>

<div class="column right">
  <h2>
	<%= link_to '&lt;', "#{request.path}?month=#{@month - 1}" %> 
	Übersicht <%= @account.title if @account %>: <%= @startdate.strftime("%B %Y") %>
	<%= link_to '&gt;', "#{request.path}?month=#{@month + 1}" %> 
  </h2>
  <table style="width:950px;">
	  <tr>
		<td class="al em" colspan="3">
			Kontostand: <%= number_to_currency @sum.to_s, :unit => ' &euro;', :separator => ",", :delimiter => "." %> 
		</td>
		<td class="ar em">
		  &nbsp;<br/>
	      Einnahmen: +<%= number_to_currency @income.to_s, :unit => ' &euro;', :separator => ",", :delimiter => "." %><br/>
		  Ausgaben: <%= number_to_currency @expenses, :unit => ' &euro;', :separator => ",", :delimiter => "." %><br/>
		  <hr/>
		  Gesamt <%= number_to_currency (@income + @expenses).to_s, :unit => ' &euro;', :separator => ",", :delimiter => "." %>
		  <hr/>
		</td>
	    <td class="ar light" colspan="2">
		  Unterschied zum Vormonat am <%= (@lastmonth).strftime("%d.%m.") %><br/>
		  <%= "+" if (@income - @last_month_income) > 0 %>
	      <%= number_to_currency     (@income - @last_month_income).to_s, 
															:unit => ' &euro;', :separator => ",", :delimiter => "." %>
		  <%= trend_img(@income - @last_month_income) %><br/>
		  <%= "+" if (@expenses - @last_month_expenses) > 0 %>
		  <%= number_to_currency     (@expenses - @last_month_expenses), 
															:unit => ' &euro;', :separator => ",", :delimiter => "." %>
		  <%= trend_img(@expenses - @last_month_expenses) %><br/>
		  <hr />
		  <%= "+" if ((@income + @expenses) - (@last_month_income + @last_month_expenses)) > 0 %>
		  <%= number_to_currency ((@income + @expenses) - (@last_month_income + @last_month_expenses)).to_s, 
															:unit => ' &euro;', :separator => ",", :delimiter => "." %>
		  <%= trend_img ((@income + @expenses) - (@last_month_income + @last_month_expenses))%>
		  <hr/>
	    </td>
	    <td></td>
	  </tr>
	  <tr>
		<th class="ar">
		  <%= link_to 'Datum', "#{request.path}?order=date" %>
		  <%= link_to '&uarr;', "#{request.path}?order=date desc" %>
		</th>
		<th class="al">
		  <%= link_to 'Empfänger', "#{request.path}?order=payee" %>
		  <%= link_to '&uarr;', "#{request.path}?order=payee desc" %>
		</th>
		<th class="al">
		  <%= link_to 'Beschreibung', "#{request.path}?order=descr" %>
		  <%= link_to '&uarr;', "#{request.path}?order=descr desc" %>
		</th>
		<th class="al"><%= 'Konto' unless @account %></th>
		<th class="al">
		  <%= link_to 'Kategorie', "#{request.path}?order=cat" %>
		  <%= link_to '&uarr;', "#{request.path}?order=cat desc" %>
		</th>
		<th class="ar">
		  <%= link_to 'Saldo', "#{request.path}?order=saldo" %>
		  <%= link_to '&uarr;', "#{request.path}?order=saldo desc" %>
		</th>
		<th style="width:40px;"></th>
	  </tr>
    <% @items.each do |item| %>
      <%= render :partial => 'items/item_row' , :locals => {:item => item }%>
    <% end %>
    <% if @items.empty? %>
      <tr>
	    <td colspan="6">
		  Für dieses Konto wurden noch keine Zahlungen eingegeben.
		  <% if @account %>
		    <div class="m20">
		      <%= link_to 'Neue Zahlung eingeben', new_item_path(:account_id => @account.id), :class => 'button' %>
		      <% unless @account.feed.blank? %>
		        oder <%= link_to 'Zahlungen von Saldomat übernehmen', "/items/get_from_rss", :class => 'button' %>
		      <% end %>
		    </div>
		  <% end %>
	    </td>
	  </tr>
    <% end %>
  </table>
  <div class="action">
	<%= link_to 'Konto bearbeiten', edit_account_path(@account.id) if @account %>
  </div>
</div>

<div class="clr"></div>