<%= render :partial => 'layouts/sidebar' %>

<div class="column right">
  <h2>
	<% if @startdate %>
	<%= link_to '&lt;', "#{request.path}?month=#{@month - 1}" %> 
	Übersicht <%= @account.title if @account %>: <%= @startdate.strftime("%B %Y") %>
	<%= link_to '&gt;', "#{request.path}?month=#{@month + 1}" %> 
	<% end %>
  </h2>
  <table style="width:950px;">
	  <tr>
		<td class="al em" colspan="3">
			Kontostand:
			<span id="accountsaldo">
			  <%= number_to_currency @sum.to_s, :unit => ' &euro;', :separator => ",", :delimiter => "." %>
			</span>
			
			<div style="padding:10px 0px 5px 0px;">
			  <% form_for(Search.new, :url => search_accounts_path, :html => {:method => :get}) do |f| %>
			  <input type="search" name="term" size="20">
			  <input type="hidden" name="account_id" value="<%= @account.id if @account %>">
			  <%= f.submit 'Suche', :class => 'small' %>
			  <% end %>
			</div>
		</td>
	    <td class="ar light" colspan="2">
		  <% if @lastmonth %>
		    Unterschied zum Vormonat am <%= (@lastmonth).strftime("%d.%m.") %><br/>
		    <%= "+" if (@income - @last_month_income) > 0 %>
	        <%= number_to_currency     (@income - @last_month_income).to_s, 
		      												:unit => ' &euro;', :separator => ",", :delimiter => "." %>
		    <%= trend_img(@income - @last_month_income) %><br/>
		    <%= "+" if (@expenses - @last_month_expenses) > 0 %>
		    <%= number_to_currency     (@expenses - @last_month_expenses), 
		      												:unit => ' &euro;', :separator => ",", :delimiter => "." %>
		    <%= trend_img(@expenses - @last_month_expenses) %><br/>
		    <hr />
		    <%= "+" if ((@income + @expenses) - (@last_month_income + @last_month_expenses)) > 0 %>
		    <%= number_to_currency ((@income + @expenses) - (@last_month_income + @last_month_expenses)).to_s, 
		      												:unit => ' &euro;', :separator => ",", :delimiter => "." %>
		    <%= trend_img ((@income + @expenses) - (@last_month_income + @last_month_expenses))%>
		    <hr/>
		  <% end %>
	    </td>
		<td class="ar em" colspan="2">
		  <% if @income %>
		    &nbsp;<br/>
	        Einnahmen: 
	          <span id="income">+<%= number_to_currency @income.to_s, :unit => ' &euro;', :separator => ",", :delimiter => "." %></span><br/>
		    Ausgaben: 
		      <span id="expenses"><%= number_to_currency @expenses, :unit => ' &euro;', :separator => ",", :delimiter => "." %></span><br/>
		    <% end %>
		    <% if @income and @expenses %>
		      <hr/>
		      Gesamt 
		      <span id="saldo"><%= number_to_currency (@income + @expenses).to_s, :unit => ' &euro;', :separator => ",", :delimiter => "." %></span>
		    <% elsif @result_saldo %>
		      <hr/>
		      Gesamt 
		      <span id="saldo"><%= number_to_currency (@result_saldo).to_s, :unit => ' &euro;', :separator => ",", :delimiter => "." %></span>
		    <hr/>
		   <% end %>
		</td>
		<td></td>
	  </tr>
	  <tr>
		<th class="ar">
          <%= sortlink('Datum', 'date') %>
		</th>
		<th class="al">
		  <%= sortlink('Empfänger', 'payee') %>
		</th>
		<th class="al">
          <%= sortlink('Beschreibung', 'descr') %>
		</th>
		<th class="al"><%= 'Konto' unless @account %></th>
		<th class="al">
		  Kategorie
		</th>
		<th class="al">
		  Fix
		</th>
		<th class="ar">
		  <%= sortlink('Saldo', 'saldo') %>
		</th>
		<th style="width:40px;"></th>
	  </tr>
    <% @items.each do |item| %>
      <%= render :partial => 'items/item_row' , :locals => {:item => item }%>
    <% end %>
    <% if @items.empty? %>
      <tr>
	    <td colspan="6">
		  Für dieses Konto wurden noch keine Zahlungen eingegeben.
		  <% if @account %>
		    <div class="m20">
		      <%= link_to 'Neue Zahlung eingeben', new_account_item_path(@account), :class => 'button' %>
		      <% unless @account.feed.blank? %>
		        oder <%= link_to 'Zahlungen von Saldomat übernehmen', "/items/get_from_rss", :class => 'button' %>
		      <% end %>
		    </div>
		  <% end %>
	    </td>
	  </tr>
    <% end %>
  </table>
  <div class="action">
	<%= link_to 'Konto bearbeiten', edit_account_path(@account.id) if @account %>
  </div>
</div>

<div class="clr"></div>